/*COMMON*/
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
img {
    display: block;
}

a {

    text-decoration: none;
    color: #fff;
    position: relative;
    width: fit-content;
    transition: .3s;
}
.btn--radius {

}
.btn--underline {
    font-size: 24px;
    font-weight: 100;
    position: relative;
    width: fit-content;
    color: #000;
}

.btn--underline::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #000;
    left: 0;
}

.btn--underline:hover::after {
    animation: 0.3s ease 0s linkhover;
}

.inner {

    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin : 0 auto;

}

.btn {

}

.btn:hover {

}
section {
    height: 100vh;
    width: 100%;
}
.text-group {
    text-align: center;
}
.text-group span {
    text-transform: uppercase;
}
.text-group span::after {
    content: "";
    display: block;
    width: 40px;
    margin: 10px auto 30px;
    height: 1px;
    background-color: #fff;
}
h3 {
    font-size: 60px;
    font-weight: 400;
}

/* ANIMATIONS & MOVES */
@keyframes linkhover{from{width:0}to{width:100%}}
@keyframes floating{
    from {
        transform:translateY(0px);
        opacity: 1;
    }
    to{
        transform: translateY(-100vh);
        opacity: 0;
    }   
}
.back-to-position, .back-to-position-rotated, .back-to-position-rotated2 {
    opacity: 0;
    transition: 1s;
}
.back-to-position.to-right {
    transform: translateX(-150px);/*왼->오 150px*/
}
.back-to-position.to-left {
    transform: translateX(150px);/*오->왼 150px*/
}
.back-to-position.to-top {
    transform: translateY(200px);/*아래->위 150px*/
}
.back-to-position-rotated.to-ldiagonal {
    transform: rotate(-10.0001deg) translate(150px,150px);
}
.back-to-position-rotated2.to-rdiagonal {
    transform: rotate(10.0001deg) translate(-150px,150px);
}
.show .back-to-position {/*쇼라는 클래스의 후손인 백투포지션이면 다시 보이고 원위치*/
    opacity: 1;
    transform: translateX(0);
}
.show .back-to-position-rotated {
    opacity: 1;
    transform: rotate(-10.0001deg) translate(0);
}
.show .back-to-position-rotated2 {
    opacity: 1;
    transform: rotate(10.0001deg) translate(0);
}
.show .back-to-position.delay-0 {
    transition-delay: 0s;
}
.show .back-to-position.delay-1,
.show .back-to-position-rotated.delay-1,
.show .back-to-position-rotated2.delay-1 {
    transition-delay: .9s;
}
.show .back-to-position.delay-2 {
    transition-delay: 1.8s;
}
.show .back-to-position.delay-3 {
    transition-delay: 2.7s;
}


/* .show .emoji */



.bg-color {
    transition: all 1.5s;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    z-index: 999;

}
header .inner {
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
header .logo img {
    height: 100px;
    transform: rotate(-15deg);
    pointer-events: auto;
    transition: 1s;
}
header .logo:hover img {
    transform: rotate(-195deg);
}
header .hamburger-menu {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
footer {
    height: 100vh;
    width: 100%;
}

/*MAIN VISUAL*/
.visual {
    background-color: #000;

}
.visual .inner {

}
.visual .main-video {

}
.visual .arrow {

}

/* COLLABS */
.collabs {
    background-color: #000;
}
.collabs .inner {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.collabs h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 42px;
    margin-bottom: 40px;

}
.collabs h2 a {
    font-weight: 100;

    
}
.collabs h2 a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 10px;
    height: 1.3px;
    background-color: #fff;

    
}
.collabs h2 a:hover::after {
    animation: 0.3s ease 0s linkhover;
}
.collabs .swiper-container {
    width: calc(90% + (100vh - 90% / 2));
    position: absolute;
    right: 0;
    transition: transform 300ms ease;
    overflow: hidden;

}

.collabs .swiper-slide {
    background-color: #fff;
    width: 337px;
    height: 405px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    background-size: cover;
    margin-right: 30px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.collabs .swiper-slide:nth-child(1) {
    background-image: url(../images/apple_lg_2x.jpg);
    color: #000;
    z-index: 10;
}
.collabs .swiper-slide:nth-child(2) {
    background-image: url(../images/natgeo_lg_2x.jpg);
    z-index: 9;
}
.collabs .swiper-slide:nth-child(3) {
    background-image: url(../images/amex_lg_2x.jpg);
    z-index: 8;
}
.collabs .swiper-slide:nth-child(3) img {
    width: 147px;
    height: 40px;
}
.collabs .swiper-slide:nth-child(4) {
    background-image: url(../images/glossier_lg_2x.jpg);
    /* transform: translate(-90px, 0px); */
    z-index: 7;
}
.collabs .swiper-slide:nth-child(5) {
    background-image: url(../images/netflix_lg_2x.jpg);
    /* transform: translate(-240px, 0px); */
    z-index: 6;
}
.collabs .swiper-slide:nth-child(6) {
    background-image: url(../images/sofi_lg_2x.jpg);
    z-index: 5;
}
.collabs .swiper-slide:nth-child(7) {
    background-image: url(../images/loreal_lg_2x.jpg);
    z-index: 4;
}
.collabs .swiper-slide:nth-child(8) {
    background-image: url(../images/featured-discover-2.jpg);
    z-index: 3;
}
.collabs .swiper-slide:nth-child(9) {
    background-image: url(../images/zocdoc_lg_2x.jpg);
    z-index: 2;
}
.collabs .swiper-slide:nth-child(10) {
    background-image: url(../images/hatch_lg_2x.jpg);
    z-index: 1;
}
.collabs .swiper-slide:nth-child(11) {
    background-image: url(../images/trevor_lg_2x.jpg);
    z-index: 0;
}
/* .collabs .swiper-slide-active {
    transform: translate(0px, 0px);
}
.collabs .swiper-slide-next {
    transform: translate(-90px, 0px);
}
.collabs .swiper-slide-active:nth-child(3) {
    transform: translate(-240px, 0px);
} */


.collabs .swiper-slide img {
    
    margin-bottom: 30px;

}
.collabs .swiper-slide span {
    font-weight: 100;
    font-size: 19px;
    line-height: 1.42105;
    
}
.collabs .swiper-slide a {
    margin-top: auto;
}
.collabs .swiper-prev, .collabs .swiper-next {
    width: 45%;
    height: 405px;
    z-index: 999;
    position: absolute;
    top: 170px;
}
.collabs .swiper-prev {
    left: 0;
}
.collabs .swiper-next {
    right: 0;
}

/* THE TREVOR PROJ */
.the-trevor-project {
    background-color: #ff5a3d;
}
.the-trevor-project .inner {
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.the-trevor-project video {
    width: 40%;
    margin-left: 5px;
    
}
.the-trevor-project .text-group {
    text-align: center;
    width: 40%;
    margin-right: 100px;

}
.the-trevor-project .text-group span {

}
.the-trevor-project .text-group h3 {
    /* font-size: 60px; */
}

/* DEPARTURES */
.departures {
    background-color: #180c20;
}
.departures .inner {
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.departures video {
    width: 40%;
    margin-left: 5px;
    margin-top: 15vh;

}
.departures .text-group {
    margin-top: -24vh;
    width: 40%;
    margin-right: 100px;
    text-align: center;

}
.departures .text-group span {

}
.departures .text-group h3 {
    /* font-size: 60px; */
}

/* DISCOVER */
.discover {
    background-color: #ff6000;
}
.discover .inner {
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
}
.discover video {
    margin-top: -100px;
    width: 30%;

}
.discover .text-group {
    z-index: 1;
    margin-top: 80px;
    width: 80%;

}
.discover .text-group span {

}
.discover .text-group h2 {

}
/* KORRES */
.korres {
    background-color: #111e90;
}
.korres .inner {
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;

}
.korres img {
    transform: rotate(-10.0001deg);
    width: 40%;
    margin-right: 85px;
    object-fit: cover;
    height: 70%;
}
.korres .text-group {
    width: 35%;
    margin-left: 100px;

}
.korres .text-group span {

}
.korres .text-group h2 {

}

/* URBY */
.urby {
    background-color: #03a678;
}
.urby .inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.urby img {
    margin-left: 5px;
    width: 43%;
    height: 80%;
    object-fit: cover;

}
.urby .text-group {
    text-align: center;
    width: 40%;
    margin-right: 100px;

}
.urby .text-group span {

}
.urby .text-group h2 {

}

/* BABE-BY-HATCH */
.babe-by-hatch {
    background-color: #fcf0e4;
    color: #000;
}
.babe-by-hatch .inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}
.babe-by-hatch img {
    width: 40%;
    height: 80%;
    object-fit: cover;
    transform: rotate(10.0001deg);
    margin-left: 80px;
}
.babe-by-hatch .text-group {
    width: 45%;
    margin-right: 100px;

}
.babe-by-hatch .text-group span {

}
.babe-by-hatch .text-group span::after {

    background-color: #000;
}
.babe-by-hatch .text-group h2 {

}

/* INCLUSION-AND-DIVERSITY */
.inclusion-and-diversity {
    background-color: #000;
    color: #fffcc0;
}
.inclusion-and-diversity .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inclusion-and-diversity .text-group {
    width: 60%;
}
.inclusion-and-diversity .text-group span {

}
.inclusion-and-diversity .text-group span::after {

    background-color: #fffcc0;
}

/* IN-OTHER-NEWS */
.in-other-news {
    background-color: #fffcc0;
    color: #000;
    height: 200vh;
    text-align: center;
}
.in-other-news .sub-section {
    height: 100vh;
    
}
.in-other-news .sub-section .inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.in-other-news h4 {
    font-size: 100px;
    margin-bottom: 70px;
}
.in-other-news .text-group {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin: 0 auto;
    text-align: left;
}
.in-other-news .text-group .column {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.in-other-news .text-group .column:last-child {
    margin-right: 0;
}
.in-other-news .text-group .column p {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 100;
}
.in-other-news .text-group .column a {    
}

.in-other-news h3 {
    font-size: 100px;
    width: 60%;
    margin-bottom: 42px;

}
.in-other-news .image {
    position: absolute;
    
    width: 320px;
    height: 320px;
}
.in-other-news .img1 {
    left: 0;
    bottom: 115px;

}
.in-other-news .img2 {
    right: 0;
    bottom: 0;
}
.in-other-news .emojis {
    font-size: 64px;
    bottom: 0;

}
.in-other-news .emojis .emoji {
    position: absolute;
    animation: 2s floating;
    z-index: 999;
}


/* FOOTER */
footer .contact-us {
    background-color: #5ecc67;
    height: calc(100vh - 400px);
}
footer .contact-us .inner {
    display: flex;
    justify-content: center;
    align-items: center;

}
footer .contact-us .text-group {
    color: #000;
}
footer .contact-us .text-group h3 {
    font-size: 43px;
    margin-bottom: 30px;

}
footer .contact-us .text-group a {

}
footer .footer-content {
    height: 400px;
    background-color: #000;
}
footer .footer-content .inner {
    display: grid;
    grid-template-areas:
        "copyright cities"
        "social-media social-media";
}
